
<br /><br /><br />

@*<input type="file" accept="image/*;capture=camera" />*@
<img id="qualityImage" src="" align="middle" />
<div class="slider-wrapper" style="margin:10px">
    <input type="text" class="sliderQualityCustomized" />
</div>