@Scripts.Render("~/Scripts/Smartslider/smartslider.js")
@Scripts.Render("~/Scripts/Smartslider/TrackBarCustom.js")
@Styles.Render("~/Content/Smartslider/smartslider.css")

<br />
<div style="width: 690px; float: left; padding: 20px;">
    <div style="position: relative">
        <div id="trackbar1">
        </div>
        <div id="text1" style="clear: both; width: 300px; text-align: center;">
        </div>
    </div>
    <div style="clear: both;height:20px;">
    </div>
</div>