@Scripts.Render("~/Scripts/TrackBarQuantity.js")
@Styles.Render("~/Content/TrackBarQuantity.css")

<span id="titleQuantidade">Quantidade</span>

<div id="divFaces"></div>

<div id="sliderQuantity"></div>
<div id="statusQuantity"></div>
