@Styles.Render("~/Content/Home/index.css")
        
      @*  @Html.TextBox("Search", String.Empty, null, new { id = "txtSearch" })*@

       @* <div id="btnSearch"></div>*@


<img id="Legenda" src="/Images/legenda.jpg" style="position: absolute; width: 236px; z-index: 4; right: 20px; bottom: 4px;" />

