body {
    background-color: #222222;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

footer {
    background-color: #222222;
    width: 100%;
    position:relative;
    height:75px;
}

.customMainTop {
    height: 75px;
    position:fixed;
    margin:0;
    padding-top:13px;
    z-index:4;
}

#bodyContent {
    background-color: white;
    max-width:none;
    margin:0;
    width:100%;
    padding:0;
    height:700px;
}

#Map{
    height:700px;
}

#RenderBody{
    padding:20px;
    height:700px;
    position:absolute;
    z-index:9;
    width:100%;
}

#modal {
    position:relative;
    border:1px solid black;
    max-width:900px;
    margin:0 auto;
    height:650px;
    background-color:white;
    z-index:15;
}

#ModalContent {
    z-index:15;
    
    margin-top:80px;
    margin-bottom:-80px;
}

#overlay {
    display:none;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:5;
}

.modalPosts{
    max-width:400px ! important;
    height:300px ! important;
}