body {
    background-color: #222222;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

footer {
    background-color: #222222;
    width: 100%;
    position:relative;
    height:75px;
    margin-top:126px;
}

.customMainTop {
    position:fixed;
    margin:0;
    padding-top:13px;
    z-index:4;
}

#bodyContent {
    background-color: white;
    max-width:none;
    margin:0;
    width:100%;
    padding:0;
    height:500px;
    margin-top: 60px;
}

#Map{
    height:700px;
}

#RenderBody{
    top:-25px;
    padding:20px;
    height:700px;
    position:absolute;
    z-index:9;
    width:100%;
}

#modal {
    position:relative;
    max-width:900px;
    margin:0 auto;
    height:700px;
    background-color:whitesmoke;
    z-index:15;
    border-radius:10px;
}

#ModalContent {
    z-index:15;
    
    margin-top:80px;
    margin-bottom:-80px;
}

#overlay {
    display:none;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    background-size:cover;
    z-index:5;
}

.modalPosts{
    max-width:500px ! important;
    height:380px ! important;
    padding:30px ! important;
    padding-top:15px ! important;
    border-radius:10px;
    border:0;
}

.modalPostsResponsive{
    height:500px ! important;
}

#btnPosts {
    width:200px;
    height:40px;
    font-weight:bold;
    font-size:18px;
}

#imgPreview {
    
    display:none;
    width:70px;
    height:70px;
}

#DivImgPreview {
    width: 70px;
    position: absolute;
    top: 40px;
    right: 35px;
    height: 70px;
}

#DivImgPreview:active{
    border:0;
}

#closeImgPreview {
    display:none;
    width: 40px;
    position: absolute;
    right: 14px;
    top: 16px;
    z-index: 15;
    cursor: pointer;
}

.nav .navbar-nav .navbar-right{
    background-color: #222222 ! important;
}