@Scripts.Render("~/Content/DescribePlace/Index.css")

<div id="RenderBody">
    <div id="modal">


        @Html.Partial("~/Views/Shared/_TrackBarQUality.cshtml")
        <button id="close" onclick="closeModal()">Close</button>

    </div>
</div>