<h2>Comentários</h2>
<div class="container" style="overflow: auto">
    <div class="row">
        <div class="[ col-xs-12 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="panel-google-plus-tags">
                </div>
                <div class="panel-heading">
                    <h4>Nome do Fela</h4>
                    <p>Mensagem dos felas</p>
                </div>
                <div class="panel-heading">
                    <h4>Nome do Fela</h4>
                    <p>Mensagem dos felas 2</p>
                </div>
                
                <div class="panel-google-plus-comment">
                <div class="panel-body">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <h4>Nome do Fela q posta</h4>
                </div>
                <div class="panel-google-plus-textarea">
                    <textarea rows="4"></textarea>
                    <button type="submit" class="[ btn btn-success enabled ]">Enviar Comentário</button>
                    <button type="reset" class="[ btn btn-default ]">Cancelar</button>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>

       
    </div>
</div>